div.mod_repository td.col_functions {
	width: 90px;
}
div.mod_repository tr.datarow:hover td {
	background-color: #EBFDD7;
}
#header, #container, #footer {
	width: 95% !important;
	min-width: 700px;
}

#left {
	width: 20% !important;
}

#tl_navigation h1 {
	width: auto !important;
}

#main {
	margin: 0 !important;
	width: 78%;
	float: right;
}

.tl_listing_container {
	margin-left: 0px;
	margin-right: 0px;
}

.tl_listing, .tl_show, .tl_header, .tl_content {
	width: 100%;
	margin: 0 auto;
	padding-left: 0px;
	padding-right: 0px;
}

.wizard .tl_text {
    width: 84%;
}

.tl_text {
    width: 90%;
}

.tl_box .tl_select, .tl_tbox .tl_select, .tl_box .tl_mselect, .tl_tbox .tl_mselect {
    width: 90%;
}

ul.tree_view {
	padding: 0px;
}